# Amazon recommender

## Data import + cleaning

In [2]:
#libraries
import pandas as pd, numpy as np, matplotlib.pyplot as plt, \
seaborn as sns

In [4]:
#fetch data
orders = pd.read_csv('../data/01-Jan-2008_to_18-May-2021.csv')

In [5]:
#peek at data
orders.head()

,Order Date,Order ID,Title,Category,ASIN/ISBN,UNSPSC Code,Website,Release Date,Condition,Seller,...,Carrier Name & Tracking Number,Item Subtotal,Item Subtotal Tax,Item Total,Tax Exemption Applied,Tax Exemption Type,Exemption Opt-Out,Buyer Name,Currency,Group Name
0,12/15/08,002-9208212-4089021,NaN,NaN,B0006HGNJ4,NaN,Amazon.com,NaN,NaN,Watch Values,...,USPS(9101805213907299379333),$24.95,$0.00,$24.95,NaN,NaN,NaN,Veronica,USD,NaN
1,03/23/09,058-3723913-1124538,The Wall,ABIS_MUSIC,B000006TRV,55111512.0,Amazon.com,1994-01-01T00:00,new,megahitrecords,...,NaN,$15.24,$0.00,$15.24,NaN,NaN,NaN,Veronica,USD,NaN
2,01/07/10,105-6872349-1957028,Dreamland,ABIS_MUSIC,B000002VRQ,55111512.0,Amazon.com,1996-07-30T00:00:01,new,Amazon.com,...,USPS(9102001206749319387592),$6.99,$0.66,$7.65,NaN,NaN,NaN,Veronica,USD,NaN
3,06/01/10,102-2903451-7921061,"Neotech Accordion Harness, Original - Padded S...",INSTRUMENT_PARTS_AND_ACCESSORIES,B000E2F3UQ,60131500.0,Amazon.com,NaN,new,Hairy Harry's Music,...,USPS(9101150134711197827330),$38.95,$0.00,$38.95,NaN,NaN,NaN,Veronica,USD,NaN
4,12/19/10,104-0250440-8561850,Vista International 9200S Silver Bubble Umbrella,BAG,B00383QNIO,53102505.0,Amazon.com,NaN,new,Better Canes and Umbrellas Inc.,...,UPS(1Z437Y5W0348615590),$22.00,$0.00,$22.00,NaN,NaN,NaN,Veronica,USD,NaN

In [6]:
#understand prospective features
orders.columns

Index(['Order Date', 'Order ID', 'Title', 'Category', 'ASIN/ISBN',
       'UNSPSC Code', 'Website', 'Release Date', 'Condition', 'Seller',
       'Seller Credentials', 'List Price Per Unit', 'Purchase Price Per Unit',
       'Quantity', 'Payment Instrument Type', 'Purchase Order Number',
       'PO Line Number', 'Ordering Customer Email', 'Shipment Date',
       'Shipping Address Name', 'Shipping Address Street 1',
       'Shipping Address Street 2', 'Shipping Address City',
       'Shipping Address State', 'Shipping Address Zip', 'Order Status',
       'Carrier Name & Tracking Number', 'Item Subtotal', 'Item Subtotal Tax',
       'Item Total', 'Tax Exemption Applied', 'Tax Exemption Type',
       'Exemption Opt-Out', 'Buyer Name', 'Currency', 'Group Name'],
      dtype='object')

In [7]:
#understand size of data
orders.shape

(2242, 36)

In [8]:
#data types we are dealing with and presence of nulls
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2242 entries, 0 to 2241
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Order Date                      2242 non-null   object
 1   Order ID                        2242 non-null   object
 2   Title                           2163 non-null   object
 3   Category                        2163 non-null   object
 4   ASIN/ISBN                       2242 non-null   object
 5   UNSPSC Code                     2163 non-null   float64
 6   Website                         2242 non-null   object
 7   Release Date                    77 non-null     object
 8   Condition                       2241 non-null   object
 9   Seller                          2241 non-null   object
 10  Seller Credentials              5 non-null      object
 11  List Price Per Unit             2242 non-null   object
 12  Purchase Price Per Unit         2242 non-null   object
 13  Quantity                        2242 non-null   int64
 14  Payment Instrument Type         2242 non-null   object
 15  Purchase Order Number           0 non-null      float64
 16  PO Line Number                  0 non-null      float64
 17  Ordering Customer Email         2242 non-null   object
 18  Shipment Date                   2225 non-null   object
 19  Shipping Address Name           2242 non-null   object
 20  Shipping Address Street 1       2238 non-null   object
 21  Shipping Address Street 2       641 non-null    float64
 22  Shipping Address City           2238 non-null   object
 23  Shipping Address State          2238 non-null   object
 24  Shipping Address Zip            2238 non-null   object
 25  Order Status                    2225 non-null   object
 26  Carrier Name & Tracking Number  2219 non-null   object
 27  Item Subtotal                   2242 non-null   object
 28  Item Subtotal Tax               2242 non-null   object
 29  Item Total                      2242 non-null   object
 30  Tax Exemption Applied           228 non-null    object
 31  Tax Exemption Type              0 non-null      float64
 32  Exemption Opt-Out               228 non-null    object
 33  Buyer Name                      2242 non-null   object
 34  Currency                        2242 non-null   object
 35  Group Name                      0 non-null      float64
dtypes: float64(6), int64(1), object(29)
memory usage: 630.7+ KB

In [10]:
#descriptive stats
orders.describe().T

,count,mean,std,min,25%,50%,75%,max
UNSPSC Code,2163.0,4.909079e+07,9.088133e+06,10111300.0,50000000.0,50202300.0,53102500.5,78130000.0
Quantity,2242.0,1.102587e+00,4.331248e-01,0.0,1.0,1.0,1.0,7.0
Purchase Order Number,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PO Line Number,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shipping Address Street 2,641.0,5.040000e+02,0.000000e+00,504.0,504.0,504.0,504.0,504.0
Tax Exemption Type,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Group Name,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## EDA

## Modeling